* {
  box-sizing: border-box;
}

body {
  font-size: 13px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.super-container {
  margin: auto;
  max-width: 1400px;
  padding-left: 20px;
  padding-right: 20px;
  z-index: -100;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.white-color {
  color: #fff;
}

.green-color {
  color: #08a800;
}

.padding {
  padding: 20px;
}

.red-color {
  color: #ff0000;
}

.blue-color {
  color: #0098ff;
}

.black-color {
  color: #000;
}

.margin-auto {
  margin: auto;
}

.space {
  margin-right: 10px;
}

.word-weight {
  font-weight: 800;
}

.word-space {
  word-spacing: 10px;
}

.flag {
  right: 0;
  top: 20px;
  margin-right: 20px;
  position: absolute;
}

.logo {
  text-align: center;
}

header {
  position: relative;
  margin-left: 0;
  margin-right: 0;
  z-index: 100;
}

.top {
  background-color: #08a800;
}

.top .logo img {
  width: 125px;
  height: 125px;
}

.active {
  color: #08a800;
}

header nav {
  padding: 20px 0;
  box-shadow: #000;
}

header nav ul li a:hover {
  color: #08a800;
}

footer nav ul li a:hover {
  color: #000;
}

footer {
  background-color: #08a800;
}

footer .nav-link {
  padding-left: 0;
  padding-bottom: 0;
  font-size: 12px;
  color: #fff;
}

footer nav {
  margin-top: 10px;
  margin-bottom: 30px;
}

footer .copyright {
  font-size: 12px;
}

@media screen and (min-width: 440px) and (max-width: 1362px) {
  header nav ul li span {
    display: none;
  }
}

@media screen and (min-width: 375px) and (max-width: 439px) {
  header nav ul li span {
    display: none;
  }

  header nav ul li i {
    margin-right: 0 !important;
  }
}

/* resigter page */
form {
  width: 478px;
  height: auto;
  border: 0.5px solid rgb(143, 141, 141);
}

.form-border {
  border: 1px solid #08a800;
  border-radius: 1%;
}

.input-group .input-group-prepend span {
  border-color: #08a800;
}

.input-group input {
  border-color: #08a800;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #08a800;
  outline-color: none;
  box-shadow: none;
}

@media screen and (max-width: 478px) {
  form {
    width: 100%;
    height: auto;
    border: 0.5px solid rgb(143, 141, 141);
  }
}

/* login */
input[type="checkbox"]:checked {
  border-color: #08a800;
}

/* homepage */
.event-section {
    padding-top: 35px;
    padding-bottom: 20px;
    
}

.event-section .event-title {
  color: #08a800;
  font-size: 13px;
  margin-bottom: 10px;
}

.event-content .card {
  border: none;
}

.event-content .card .card-body {
  padding: 0;
}

 .event-content .event-img img {
  width: 100%;
  height: 250px;
}

.event-content .event-img .btn-slide-click {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: green;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: relative;
    top: 80px;
}

.event-content .event-text {
  margin: 20px 18px;
  
}

.event-content .event-text:after {
  content: "";
  display: block;
  clear: both;
}

.event-content .event-text a {
  color: #0C3987;
}

.event-content .event-text p {
  margin-top: 15px;
  margin-bottom: 15px;
}

.event-text .event-link-right {
     float: right;
}

.event-text .event-link-right a, i {
  color:  #08a800;
  margin-right: 2px;
}

.event-media {
  padding-top: 25px;
}

.yt-video {
  margin-top: 15px;
  padding-bottom: 10px;
}

.yt-video .video-title {
  color: #08a800;
  margin-bottom: 20px;
  font-size: 14px;
}

.yt-video .embed-responsive {
  height: 400px;
}

.yt-video .column-video-addon {
    margin-top: 25px;
    margin-bottom: 20px;
}

.yt-video .column-video-addon .embed-responsive {
  height: 120px;
}

.yt-video .column-video-addon .video-bottom-title {
  margin-top: 15px;
  margin-bottom: 15px;
}

.book-library {
  padding-top: 15px;
  padding-bottom: 15px;
}

.book-library .book-title {
  margin-bottom: 20px;
  font-size: 14px;
  color: #08a800;
}

.book-library .book-item {
  margin-top: 20px;
}

.book-item .book-cover img {
    width: 100%;
}

.book-link-addons {
    text-align: right;
    margin-top: 15px;
    margin-bottom: 15px;
}

.book-link-addons a {
  color: #08a800;
  font-size: 13px;
}

.book-item .book-description {
  margin-top: 15px;
  margin-bottom: 15px;

}

.banner {
  padding-top: 30px;
  padding-bottom: 25px;
}

.banner:after {
  content: "";
  display: table;
  clear:both;
}

.banner .img-banner {
  width: 50%;
  height: 450px;
  float: left;
}

.banner .img-banner img {
    width: 100%;
    height: 100%;
}

.banner .text-banner-title {
  font-size: 15px;
  color: #08a800;
  margin-bottom: 15px;
}

.text-content .text-top span, .text-middle span {
  font-weight: 600;
}

.text-bottom .text-inline span:nth-child(2) {
  margin-left: 50px;
}

.text-bottom .text-inline span:last-child {
  color: #08a800;
}

.banner .text-banner {
  float: right;
  width: calc(50% - 20px);
  height: 450px;
  margin-left: 20px;
  position: relative;
}

.text-banner .banner-logos {
  padding-top: 50px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  word-wrap: break-word;
}

.text-banner .icon-content {
    margin-top: 5px;
    margin-bottom: 15px;
}

.banner-logos .icon-content, .icon-logo {
    display: flex;
    max-width: 700px;
    flex-direction: row;
}

.banner-logos .icon-content .icon-logo {
    margin-right: 15px;
    background-color: #08A800;
    border-radius: 10%;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
}

.icon-content .icon-logo i {
    font-size: 25px;
    color: white;
}

.icon-content .right-text-icon p {
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 0px;
}

.article-popular {
  padding-top: 30px;
  padding-bottom: 25px;
}

.article-popular .article-title {
  margin-bottom: 20px;
font-size: 14px;
color: #08a800;
}

.article-popular .article-item {
  margin-top: 20px;
}

.article-item .card {
  border-radius: 0%;
  -webkit-border-radius: 0%;
  -moz-border-radius: 0%;
  -ms-border-radius: 0%;
  -o-border-radius: 0%;
}

.article-item .card .card-header {
  padding: 0;
}

.article-item img {
    width: 100%;
}

.article-item .article-view {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
}

.article-item .article-content a {
  color: #0C3987;
  font-size: 14px;
}

.article-item .article-content p {
  margin-top: 10px;
}

.bottom-logo-listing .logo-text-title {
    text-align: center;
}

.bottom-logo-listing .logo-boxs {
    width: 190px;
    height: 190px;
    border-radius: 50%;
    border: 2px solid #2CB526;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.bottom-logo-listing {
  padding-top: 20px;
  padding-bottom: 55px;
}

.bottom-logo-listing .logo-boxs img {
    width: 90%;
}

.bottom-logo-listing .logo-text-title {
  color: #08a800;
  margin-top: 20px;
  margin-bottom: 25px;
}

.bottom-logo-listing .col-sm-3 {

  display: flex;
  justify-content: center;

}

/* extension-portal-page */
.portal-title {
  font-size: 17px;
  font-weight: 600;
  text-align: center;
  color: #08a800;
}

.portal-title hr {
  width: 50px;
  height: 10px;
  border-top: none;
  margin-top: -5px;
  border-bottom: 2px solid #08a800;
}

.portal-img {
  padding-top: 50px;
}

.portal-text-bottom {
  padding-top: 30px;
  
}

.portal-text-bottom #start-style {
  margin-left: 15px;
  list-style: none;
}

.portal-text-bottom ul li.start-style:before{
  content: "*";
  font-size: 14px;
  padding-right: 5px;
  color: grey;
}

/* institution page */
.institution-img {
  padding-top: 15px;
}

.institution-img-title {
  font-size: 17px;
  font-weight: 600;
  text-align: left;
  padding-bottom: 10px;
  color: #08a800;
}

.img-middle {
  display: flex;
  justify-content: center;
}


/* institutional-portal */
.portal-text-bottom ul.dot-style {
  padding-left: 13px;
}

/* extension-hub page */
.yt-video .portals {
  text-align: center;
}

.portal-grid .icon-container {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #08a800;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.icon-container i {
  width: 60px;
  line-height: 60px;
  font-size: 23px;
}

/* extension-library */
.selected-menu {
  display: flex;
  flex-direction: row;
}

.selected-menu .menu-item-container {
  width: 20%;
  height: 40px;
  background-color: #fff;
  margin-right: 25px;
}

.selected-menu .menu-item-container:last-child {
  margin-right: 0px;
}

.menu-item-container button.btn-green {
  background-color: #08a800;
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-weight: 400;
  border:none;
}

button.btn-green i {
  font-size: 9px;
}

.menu-item-container .custom-select {
  width: 100%;
  height: 100%;
  font-size: 13px;
  font-weight: 400;
  border-radius: 0%;
  -webkit-border-radius: 0%;
  -moz-border-radius: 0%;
  -ms-border-radius: 0%;
  -o-border-radius: 0%;
}

.menu-item-container .btn-search-form {
  display:flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  border: 1px solid #ced4da;
}

.menu-item-container .btn-search-form .input-inline {
  width: 80%;
}

.btn-search-form .input-inline .form-control {
  border-radius: 0%;
  border:none;
  font-size: 14px;
  -webkit-border-radius: 0%;
  -moz-border-radius: 0%;
  -ms-border-radius: 0%;
  -o-border-radius: 0%;
}

.menu-item-container .btn-search-form .search-icon {
  width: 20%;
}

.book-library .book-header {
  position: relative;
  bottom: -20px;
}

.book-header .book-view-type button {
  background-color: #fff;
  border: 1px solid #ced4da;
}

.books .card {
  border-radius: 0%;
  -webkit-border-radius: 0%;
  -moz-border-radius: 0%;
  -ms-border-radius: 0%;
  -o-border-radius: 0%;
}
.books .card-header {
  background-color: #fff;
  border-bottom: none;
}

.books .card-body {
  padding: 0;
}

.books .book-cover-p-middle {
  display: flex;
  justify-content: center;
}

.book-cover-p-middle img {
  width: 75%;
}

.book-des p {
  word-wrap: break-word;
  font-size: 15px;
  font-weight: 600;
}

.btn-download .btn {
  border-radius: 0%;
  -webkit-border-radius: 0%;
  -moz-border-radius: 0%;
  -ms-border-radius: 0%;
  -o-border-radius: 0%;
  width: 100%;
  background-color: #08a800;
  border: none;
}

.book-header .pagination a {
  color: black;
}

/* extension-library-book pdf */

.book-item .pdf-item {
  display: flex;
  align-items: center;
}

.book-item .pdf-item div:nth-child(2) {
  word-wrap: break-word;
  font-weight: 600;
}

.book-item .pdf-item .img-fluid {
  width: 48px;
}

.book-item .border-row {
  border: 1px solid #ced4da;
  height: 75px;
}

.portal-article .article-inner {
  font-weight: 600;
}

.pdf-detail .pdf-image-detail {
  text-align:center;
  font-size: 14px;
}

.pdf-image-detail .minus-p {
  margin-left: -5px;
}

.pdf-info-table {
  border: 1px solid #ced4da;
}


@media only screen and (max-width: 600px) {

  .super-container {
    padding: 0;
    overflow: hidden;
  }

  /* homepage responsive */
  .event-section {
    padding-top: 0;
    padding-bottom: 0;
  }

  .event-section .row .col-xl-4, .col-md-6 {
      padding-top: 15px;
      padding-bottom: 15px;
  }

  .event-section .event-title {
    margin-left: 15px;
  }

  .event-media {
    padding-top: 0px;
  }

  .yt-video .video-title {
    margin-left: 15px;
  }

  .sub-video .video-bottom-title {
    margin-left: 15px;
  }

  .yt-video .column-video-addon {
    margin-bottom: 0px;
  }

  .book-library .book-title {
    margin-left: 15px;
    margin-bottom: 0px;
  }

  .book-library {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .book-library .book-item {
    margin-top: 0px;
  }

  .book-item .book-description {
    margin-left: 15px;
  }

  .book-link-addons a {
    margin-right: 15px;
  }

  .fb-page-model {
    display: flex;
    justify-content: center;
  }

  .banner .img-banner {
    width: 100%;
    height: 100%;
    float: unset;
  }

  .banner .text-banner {
    padding: 5px;
    margin-top: 10px;
    width: 100%;
    height: 100%;
    word-wrap: break-word;

  }

  .text-banner .banner-logos {
    padding-top: 0;
    position: relative;
  }

  .text-bottom .text-inline span:nth-child(2) {
    margin-left: 15px;
  }

  .article-popular {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .article-popular .article-title {
    margin-left: 15px;
    margin-bottom: 0px;
  }

  .article-popular .article-item {
    margin-top: 0px;
  }

  .bottom-logo-listing .logo-boxs {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  /* book library responsive */
  .selected-menu {
      width: 100%;
      flex-direction: column;
    }

    .selected-menu .menu-item-container {
      width: 97.5%;
      margin: 5px;
    }

    .book-library .book-header {
      bottom: 0px;
    }

    .book-header .book-title {
      text-align: center;
    }

    .book-header nav {
      display: flex;
      justify-content: center;
    }

    /* book library-book pdf responsive */
    .book-item .border-row {
      height: 120px;
    }

    .book-item .btn-download {
      margin: auto;
    }

}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {


.event-section {
  padding-top: 0px;
}

.event-section .event-title {
  margin-top: 20px;
}

  .event-media .col-md-9 {
    flex: unset;
    max-width: 100%;
  }

  .event-media .unset-flex {
    margin: 0 auto;
    max-width: 100%;
  }

  .banner {
    position: relative;
  }

  .banner .img-banner {
    width: 100%;
    height: 100%;
    float: unset;
  }

  .banner .text-banner {
    width: 100%;
    height: 100%;
    float: unset;
    padding-top: 15px;
    margin-left: 0px;
  }

  .text-banner .banner-logos {
    position: relative;
    padding-top: 35px;
  }

  .article-popular {
    padding-bottom: 0px;
  }

  .article-item .card {
    margin-bottom: 15px;
  }

  .bottom-logo-listing .logo-boxs {
    width: 160px;
    height: 160px;
  }

  /* book library responsive */
  .menu-item-container button.btn-green {
    font-size: 12px;
  }

  .book-item .books:not(.book-last-c)  {
    padding-bottom: 30px;
  }

  .book-header .nav-page {
    align-items: end;
  }


}





