
/* .event-img img {
    width: 100%;
    height: 150px;
}

.event-content .event-link-right {
    float: right;
}

.event-content:after {
    content: "";
    display: block;
    clear: both;
}

.event-media {
    margin-top: 50px;
} */



.voice-container {
    margin-top: 25px;
    margin-bottom: 25px;
}

.voice-container .voice-box {
    background-color: #08A800;
    width: 100%;
}








 